<div class="main-container">

  <mat-toolbar>
    <span>My Application</span>
    <span class="example-spacer"></span>
    <button (click)="goLogin()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <button (click)="logout()" mat-icon-button class="material-icons md-light md-inactive">
      <mat-icon>face</mat-icon>
    </button>
    
  </mat-toolbar>
  
  
    <span class="lottie" *ngIf="isLoadingIcon; else elseBlock">
      <ng-lottie [options]="options" width="200px" height="300px"></ng-lottie>
    </span>
    <span *ngIf="alertMessage != ''">
      <h2>{{alertMessage}}</h2>
    </span>
  <ng-template id="div-table" class="example-container" mat-elevation-z8 #elseBlock>
    <mat-table #table [dataSource]="dataSource">
  
      <ng-container matColumnDef="created" >
        <mat-header-cell *matHeaderCellDef> Дата </mat-header-cell>
        <mat-cell *matCellDef="let element" id="date" [matTooltip]="element.device.dateToAdd">
          <span class="mobile-label">Дата: </span>
          {{element.device.dateToAdd | date: 'd MMMM y, h:mm'}}
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Имя клиента </mat-header-cell>
        <mat-cell *matCellDef="let element" id="name">
          <span class="mobile-label">Имя клиента:</span>
          <div>
  
            {{element.client.name}}
          </div>
        </mat-cell>
      </ng-container>
  
  
      <ng-container matColumnDef="device">
        <mat-header-cell *matHeaderCellDef id="device-header"> Название устройства </mat-header-cell>
        <mat-cell *matCellDef="let element" [matTooltip]="element.device.deviceName">
          <span class="mobile-label">Наименование устройства:</span>
          {{element.device.deviceName}}
        </mat-cell>
      </ng-container>
  
  
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Состояние ремонта </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Состояние ремонта:</span>
          {{element.device.status}}
        </mat-cell>
      </ng-container>
  
  
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Почта </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Почта:</span>
          {{element.client.email}}
        </mat-cell>
      </ng-container>
  
  
      <ng-container matColumnDef="phone" >
        <div class="flat">
          <mat-header-cell *matHeaderCellDef id="phone-header"> Номер телефона </mat-header-cell>
          <mat-cell *matCellDef="let element" id="phone" >
            <span class="mobile-label">Номер телефона:</span>
            <button mat-raised-button color="warn"
              [matTooltip]="'Набрать номер ' + element.client.phoneNumber">{{element.client.phoneNumber}}</button>
            <p class="mobile-label-element"> </p>
          </mat-cell>
        </div>
      </ng-container>
  
  
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Сообщить! </mat-header-cell>
        <mat-cell *matCellDef="let element" >
          <span class="mobile-label">Действия:</span>
          {{element.symbol}}
          <button mat-raised-button class="action" matTooltip="Сообщить, пусть забирают">Готово!</button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row matRipple  (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </ng-template>
</div>

