.lottie {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.buttons {
    width: 7rem;
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
}
.mat-toolbar {
    justify-content: space-between!important;
}
.mat-accent {
    display: none;
}
